ion-content {
  --ion-background-color: var(--ion-color-primary-tint);
}

.container {
  background: var(--ion-color-primary-tint);
  margin: 10% 10% 5% 10%;
  &.top {
    top: 5%;
  }
  &.bottom {
    bottom: 20%;
    span {
      color: #fff; /* cor da letra*/
    }
  }
}

ion-slides {
  background: var(--ion-color-secondary-tint);
  background-image: url("/assets/img/bgLogin.png");
  background-size: 50%; // Utilize contain para tamanho real e altera repeat-x para no-repeat
  background-position: top;
  background-repeat: repeat-x;

  .slide-inner {
    min-width: 50%;
    margin: 15% 0px;
    color: #fff; /*cor do login e cadastro*/
    background: var(--ion-color-primary-shade); /*background-color: #3171e0;*/
    border-radius: 20px;

    ion-item {
      --background: rgba(255, 255, 255, 0.2);
      --border-radius: 10px;

      ion-input {
        --color: #fff;
      }
    }
  }
}

.copyright {
  position: fixed;
  bottom: 5%;
  color: #fff;
  z-index: 5;
}
