
  <ion-content class="swiper-no-swiping">



    <div class="container top" [hidden]="keyboard.isVisible">
      <img src="/assets/img/logo.png">

      <ion-segment (ionChange)="segmentChanged($event)" value="login">
        <ion-segment-button value="login">
          <ion-label>Login</ion-label>
        </ion-segment-button>
        <ion-segment-button value="register">
          <ion-label>Cadastro</ion-label>
        </ion-segment-button>
      </ion-segment>

    </div>

    <ion-slides>
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>Login</span>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="Email" [(ngModel)]="userLogin.email"></ion-input>

          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password"></ion-input>

          </ion-item>

          <ion-button class="ion-margin-top" (click)='login()' color="light" expand="black">
            Entrar
          </ion-button>

        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>Cadastro</span>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="text" placeholder="Nome"></ion-input>

          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="Email" [(ngModel)]="userRegister.email"></ion-input>

          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>

          </ion-item>

          <ion-button class="ion-margin-top" (click)='register()' color="light" expand="black">
            Cadastrar
          </ion-button>

        </div>
      </ion-slide>
    </ion-slides>

    <div
      class="copyright ion-text-center"
    >
      <span>test test test test teste test test test</span>
    </div>

  </ion-content>
